.gitignore
.vs/
*bin/
*x64/
deps/include/inih/
deps/include/tweeny/
deps/include/glm
resources/config.ini
Package/
*.opendb
*.db
*.swp
*.idb
*.pdb
*.aps
.vim/
*packages*
*.vcxproj.user
*.psess
*.ycm_extra_conf.py
*tags
enc_temp_folder/
